<div class="container">
  <h1>SkyCast Registration Board </h1>
  <h2> </h2>

<p>Please register yourself for access</p>

<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="username" value="<%= @username %>">
  <input type="submit" value="Register>
</form>
</div>
