
<div class="container">
	<p>Historical Weather for <%=@lastloc.city %>,<%=@lastloc.state %></p>

<div id="d3graph">
	<label id="sorting"><input type="checkbox">Sort values</label>
	<div id="show_history">

		<script>window.temperature_data = <%= @history.to_json %>;</script>

		<script>console.log(window.temperature_data)</script>

	</div>
	</div>

</div>


<div class="credit">
	<a href="http://forecast.io/"><img src="forecast.jpeg" height="42" width="42"></a>
	<h10>Powered by Forecast</h10>
</div>